<div class="jumbotron col text-center ">
  <h1 class="display-6">Welcome to my blog</h1>
  <p class="lead">My name is Josh Brewer and I am a Cloud Engineer at Amazon Web Services</p>
  <hr class="my-4">
  <p>If you would like to Subscribe please click the button below to get updates on new articles <br>
    If you enjoy my content please feel free to follow me on social media
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg subscribe-btn" href="#" role="button">Subscribe</a>
  </p>
  <ul class="social-list">
    <li class="social-link">
      <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i></a>
    </li>
    <li class="social-link">
      <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a>
    </li>
    <li class="social-link">
      <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="social-link">
      <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    </li>
  </ul>
</div>

















  <!-- <div class="social-container"> -->
    <!-- <div class="social-items">
      <ul class="social-list">
        <li class="social-link">
          <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i></a>
        </li>
        <li class="social-link">
          <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a>
        </li>
        <li class="social-link">
          <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a>
        </li>
      </ul>

    </div> -->
